.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: purple;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,blue 0%,black 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    
}
.orange-bg{
    border-radius: 10px;
    
}
.category1, .category2, .category3{
    padding: 10px 30px;
    border-radius: 10px;
}
.category1{
    background-color: orange;
}
.category2{
    background-color: orchid;
}
.category3{
    background-color: blue;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}           
#subscribe h6{
    color: grey;
}
footer{
    text-align: center;
}